@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color-3A:#3a6cfa;
    --main-color-4E:#4e9eff;
    --main-color-hover-0a4:#0a49f6;
    --main-color-hover-601:#601cfc;
    --footer-color: #000016;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#body {}
/* ================== 00 body */


@media (max-width:641px) {
    body {
        font-size: 12px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}

#Components {}
/* ================== 00 Components */

section {
    padding: 100px 200px;
}

@media (max-width:1023px) {
    section {
        padding: 80px 20px;
    }
}

.title {
    display: flex;
    justify-content: center;
    color: var(--main-color-3A);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

@media (max-width:1023px) {
    .title {
        font-size: 1.8em;
    }
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:1023px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
}


#a-01 {}
/* ================== 01 header */

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
}

/* #01 */
.logo {
    text-decoration: none;
    color: #3A6cfa;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

/* #02 */
.navigation a {
    color: #3A6cfa;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

@media (max-width:1023px) {
    .navigation a {
        padding-left: 10px;
    }
}

/* #02 */
.navigation a:hover {
    color: #601cfc;
}

#a-02 {}
/* ================== 02 main */

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 11 */
.main h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

@media (max-width:1023px) {
    .main h2 {
        font-size: 1em;
    }
}

@media (max-width:641px) {
    .main h2 {
        font-size: 0.8px;
    }
}

/* 11 */
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

/* 22 */
.main h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-width:1023px) {
    .main h3 {
        font-size: 1.6em;
    }
}

@media (max-width:641px) {
    .main h3 {
        font-size: 1.4px;
    }
}

/* 33 */
.main-btn {
    color: white;
    background-color: var(--main-color-3A);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

/* 33 */
.main-btn:hover {
    background-color: var(--main-color-hover);
    transform: scale(1.1);
}

/* 44 */
.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

#a-03 {}
/* ================== 03 cards / services */

/* 11 */
.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

/* 11 == 10 */
.icon {
    color: var(--main-color-3A);
    font-size: 8em;
    text-align: center;
}

/* 11 == 20 */
.info {
    text-align: center;
}

/* 11 == 20 == 100 */
.info h3 {
    color: var(--main-color-3A);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


#a-04 {}
/* ================== 04 projects */

.projects {
    background-color: var(--footer-color);
}

.projects .content {
    margin-top: 30px;
}

/* 11 */
.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

/* 11 */
.project-card:hover {
    transform: scale(1.1);
}

/* 11 */
.project-card:hover .project-image {
    opacity: 0.9;
}


/* 11 == 10 */
.project-image img {
    width: 100%;
}

/* 11 == 20 */
.project-info {
    padding: 1em;
}

/* 11 == 20 == 100 */
.project-category {
    font-size: 0.8em;
    color: #000;
}

/* 11 == 20 == 200 */
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

/* 11 == 20 == 200 == 2.000 */
.more {
    color: var(--main-color-3A);
}

.more:hover {
    color: var(--main-color-hover-601);
}

#a-05 {}
/* ================== 05 content */

/* 11 */
.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

/* 11 == 10 */
.icon {
    color: var(--main-color-3A);
    font-size: 8em;
    text-align: center;
}

.content .icon {
    font-size: 4.5em;
}

/* 11 == 20 */
.info {
    text-align: center;
}

/* 11 == 20 == 100 */
.info h3 {
    color: var(--main-color-3A);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.content .info h3 {
    color: #000;
}

/* 11 == 20 == 200 */
.content .info p {
    font: 4.5em;
}

#a-06 {}
/* ================== 00 aaa */

footer {
    background-color: var(--footer-color);
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

/* 11 */
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: var(--main-color-3A);
}

/* 22 */
.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

#a-07 {}
/* ================== 07 media */

@media (max-width:1023px) {
    
}

#a-00 {}
/* ================== 00 aaa */
